<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
</head>
<body>
    
<div class="bg">
    <div class="main">
        <h1>Welcom to Weather app</h1>
        <h4>Enter city:</h4>
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div>
                    {{ message }}
                 </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form action="" method="POST" >
            <input type="text" name="city">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

</body>
</html>